<div class="container text-center mt" id="center">
    <img class="img-fluid" style="width: 100px;" src="/assets/success.jpg" alt="" />
    <h3 style="color:tomato;">Login Successfully</h3>
    <div class="col-md-6 offset-md-3">
        <div class="container">
            <h1>Click Here !!!</h1>
            <button class="btn" mat-raised-button color="primary" routerLink="/file-upload">Upload File</button>
            <br><br><br><br><br>
            <!-- <h1>Pagination !!!</h1>
            <button class="btn" mat-raised-button color="accent" routerLink="/pagination">Upload File</button> -->
        </div>

        <!-- <div class="container">
            <input (change)="selectFile($event)" type="file" />
            <button (click)="uploadFile()" class="btn" mat-raised-button color="primary">Upload</button>
        </div> -->
    </div>
</div>