#margin {
    margin-top: 15%;
}

h1:hover {
    color: orange;
    background-color: lightblue;
}

h1:hover::before {
    content: '';
    display: block;
    width: 0%;
    height: 3px;
    background-color: rgb(223, 155, 28);
    position: absolute;
    bottom: -5px;
    right: 0;
}